:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-height: 100vh;
  max-height: max-content;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.white-content {
  background-color: white;
  color: #000;
}

.dark-body {
  background-color: #0d1117;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*! PAGINATION */
/*! Main pagination css */
.pagination-container,
.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-container {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}
.pagination-container a {
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination-container,
.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! Opacity for PREV & NEXT buttons when user press page 1 or 10*/
.pagination-container a.disabled {
  opacity: 0.2;
}

/*! Page button highlight */
.pagination-container a.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #7cbddb;
}

.white-content {
  background-color: white;
  color: #000;
}

.dark-body {
  background-color: #0d1117;
  color: white;
}

#pagination-dark > a {
  color: white;
}

#pagination-light > a {
  color: black;
}

/*! HTML/CSS SWITCH */
.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #dfd9ea;
  transition: background cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border-radius: 50%;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

/* theme toggle switch*/
.toggleinput:checked + .switch {
  background: #72da67;
}

.toggleinput:checked + .switch::before {
  left: 27px;
  background: #fff;
}

.toggleinput:checked + .switch:active::before {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
}

.row .column1 {
  padding-right: 50px;
}

.column1 {
  width: 50% !important;
}

.column2 {
  width: 50% !important;
}

.column h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.column1 p {
  font-size: 25px;
  margin-bottom: 20px;
}

/*Header content responsive*/
@media screen and (max-width: 980px) {
  .column1 {
    width: 100% !important;
  }
  .column2 img {
    width: 350px;
  }
  .column1 h1 {
    font-size: 40px;
  }
  .column1 p {
    font-size: 17px;
  }
  .row {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
  .row .column1 {
    padding: 30px;
  }
}

select {
  margin: 1rem !important;
  border: 1px solid black;
  padding: 0.1rem;
}

/*! SEARCH BAR */
#form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

#form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*! SEARCH BUTTON */
#form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#form.example button:hover {
  background: #0b7dda;
}
